.create-meals-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Styling for the top section */
.top-section-create {
    background: #ff909e;
    color: white;
    text-align: center;
    padding-top: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Styling for the bottom section */
.bottom-section-create {
    flex-grow: 1;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Adding a background with faint food icons */
.bottom-section-create::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/cooking-spice-pattern-black-white-colors/0811229.jpg');
    background-size: 1500px;
    opacity: 0.05;
    z-index: 0;
}

.create-title {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #245682;
}

.create-description {
    font-size: 24px;
    color: #4a5568;
    max-width: 1100px;
    margin-bottom: 15px;
}

.create-new {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between input and button */
}

.create-new-input {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: text;
    transition: border-color 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
}

.create-new-button {
    margin-left: 10px;
    margin-top: 1px;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
    background-color: #58855C;
    position: relative;
    z-index: 1;
    white-space: nowrap; /* Prevents button text from breaking */
}

.error-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3s ease-in-out;
}

/* Optional fade-in/out effect */
@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-10px); }
}

.create-option-split {
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 24px;
    color: #4a5568;
    max-width: 1100px;
    margin: 15px;
}

.edit-existing-pretext {
    border: 2px solid #3498db;
    border-radius: 8px;
}

/* Dropdown Styling */
.edit-meal-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Edit Controls */
.edit-controls {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
}

.save-button {
    padding: 8px 15px;
    background-color: #2E6F40;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

.create-add-order {
    padding: 8px 15px;
    background-color: #DBA400;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

.delete-meal-button {
    padding: 8px 15px;
    background-color: #C04000;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

.go-back-button {
    padding: 8px 15px;
    background-color: #245682;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

.change-meal-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
}

.delete-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: #444;
}

.delete-popup {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.delete-popup-buttons {
    display: flex;
    justify-content: space-around;
}

.confirm-delete-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: #444;
}

.confirm-delete {
    background: #C04000;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.cancel-delete {
    background: gray;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.delete-confirmation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    color: #444;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2;
}

.delete-confirmation-popup button {
    margin-top: 10px;
    padding: 5px 10px;
    background: #245682;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.recipe-link-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 25px;
    min-width: 250px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #444;
}

.auto-create-meal {
    z-index: 1;
    cursor: pointer;
    margin-right: 20px;
    padding: 8px 15px;
    background-color: #3D3D3D;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

.recipe-link-input {
    width: 40%;
    min-width: 250px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    margin-left: 2px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: text;
    transition: border-color 0.3s ease-in-out;
    z-index: 1;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
}

.meal-edit-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.meal-details {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 60vh;  /* Covers only bottom section */
    background: white;
    border-top-right-radius: 30px;
    padding: 15px;
    box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow-y: auto;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

.close-meal-details {
    width: 100%;
    background: white;
    border: white;
    text-align: right;
    color: #9B1313;
    font-size: 15px;
}

.open-meal-details {
    width: 100%;
    background: white;
    border: white;
    text-align: right;
    color: #9B1313;
    font-size: 18px;
}

.meal-details-meal-name {
    flex: 1;
    font-size: 30px;
    color: #444;
}

.item-create-meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-create-meal-text {
    flex: 1;
    text-align: left;
    font-size: 20px;
    color: #444;
}

.item-create-meal-text-placeholder {
    flex: 1;
    text-align: left;
    font-size: 12px;
    color: #444;
}

.remove-meal-item {
    color: #C04000;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.meal-details-minimised {
    position: fixed;
    bottom: 30vh;
    left: 0;
    width: 20px;
    height: 30vh;  /* Covers only bottom section */
    background: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow-y: auto;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

.search-items-create {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 25px;
    min-width: 250px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #444;
}

.search-bar-create {
    width: 40%;
    min-width: 400px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: text;
    transition: border-color 0.3s ease-in-out;
    z-index: 1;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
}

.add-placeholder {
    z-index: 1;
    cursor: pointer;
    margin-left: 10px;
    padding: 6px 7px;
    background-color: #808080;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2);
}

/* Items List */
.loading-message-create {
    margin-top: 20px;
    color: #444;
    margin-top: 20px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.items-list-create {
    margin-top: 20px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

/* Individual Item */
.item-create {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    font-size: 18px;
}

.item-text-create {
    flex: 1;
    text-align: left;
    font-size: 20px;
    color: #444;
}

.item-text-create sup {
    margin-left: 5px;
    font-size: 0.7em;
}

.external-search-link-create {
    color: blue;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    z-index: 1;
}

.item-extracted {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    font-size: 18px;
}

.extract-create-meal {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #2E6F40;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

.extract-cancel {
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #2E6F40;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

.extract-text-area {
    width: 100%;
    border: 1px solid #444;
    border-radius: 8px;
    margin-bottom: 10px;
}

.extract-text-sub-area {
    width: 80%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    text-align: center;
}

.extract-text-input {
    margin: auto;
}

.extract-create-meal {
    margin: auto;
}

.extract-image-area {
    width: 100%;
    border: 1px solid #444;
    border-radius: 8px;
}

.extract-image-sub-area {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

.hover-popup {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    border-radius: 8px;
}

.hover-popup img {
    max-width: 150px;
    max-height: 150px;
    display: block;
}

