.home-page {
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: transparent;
    text-align: center;
    padding: 20px;
}

/* Styling for the top section */
.top-section-home {
    background: transparent;
    color: transparent;
    text-align: right;
    padding-top: 10px;
}

/* Adding a background with faint food icons */
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/cooking-spice-pattern-black-white-colors/0811229.jpg'); 
    background-size: 1500px;
    opacity: 0.05;
    z-index: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.cart-button-home {
    position: absolute;
    top: 60px;
    right: 5px;
    background: white;
    padding: 10px 15px;
    border: solid;
    border-color: #444;
    border-width: 1px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    color: #444;
    margin-left: 4px;
    margin-right: 4px;
    z-index: 1;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #245682;
    margin-top: 160px;
}

.title-word {
    padding: 5px;
    border-radius: 5px;
}

.description {
    font-size: 28px;
    color: #4a5568;
    max-width: 1100px;
    margin-bottom: 40px;
}

.home-guidance {
    font-size: 24px;
    list-style-type: disc; /* Use bullet points */
    list-style-position: inside; /* Place bullets inside the padding */
    margin: 0 auto; /* Center the list horizontally */
    padding-top: 20px;
    padding-left: 20px; /* Add space between bullets and text */
    text-align: left; /* Align text to the left */
    max-width: 800px; /* Optional: Limit the width of the list */
    line-height: 1.6; /* Optional: Add spacing between lines for readability */
}

.bold {
    font-weight: bold;
}

.button-container.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1;
}

.button {
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: #245682;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

.meals { background-color: #6bcad1; }
.meals:hover { background-color: #3cbac3; }

.items { background-color: #ffde8f; }
.items:hover { background-color: #ffd166; }

.create { background-color: #ff909e; }
.create:hover { background-color: #ff8091; }


@media (max-width: 768px) {  /* Adjust for tablets and smaller devices */
    .top-section-home {
        background: transparent;
        color: transparent;
        text-align: right;
        padding-top: 5px;
    }

    .cart-button-home {
        position: absolute;
        top: 5px;
        right: 2px;
        background: white;
        padding: 5px 7px;
        border: solid;
        border-color: #444;
        border-width: 1px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 10px;
        color: #444;
        margin-left: 4px;
        margin-right: 4px;
        z-index: 1;
        box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #245682;
        margin-top: 80px;
    }

    .title-word {
        padding: 2px;
        border-radius: 2px;
    }

    .description {
        font-size: 14px;
        color: #4a5568;
        max-width: 768px;
        margin-bottom: 20px;
    }

    .home-guidance {
        font-size: 12px;
        list-style-type: disc; /* Use bullet points */
        list-style-position: inside; /* Place bullets inside the padding */
        margin: 0 auto; /* Center the list horizontally */
        padding-top: 10px;
        padding-left: 10px; /* Add space between bullets and text */
        text-align: left; /* Align text to the left */
        max-width: 400px; /* Optional: Limit the width of the list */
        line-height: 1.3; /* Optional: Add spacing between lines for readability */
    }

    .bold {
        font-weight: bold;
    }

    .button-container.row {
        display: flex;
        justify-content: center;
        gap: 10px;
        z-index: 1;
    }

    .button {
        padding: 7px 20px;
        font-size: 10px;
        font-weight: bold;
        border-radius: 7px;
        border: none;
        color: #245682;
        cursor: pointer;
        transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
    }
}

