.meal-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Styling for the top section */
.top-section-meals {
    background: #6bcad1;
    color: white;
    text-align: center;
    padding-top: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Styling for the bottom section */
.bottom-section-meals {
    flex-grow: 1;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Adding a background with faint food icons */
.bottom-section-meals::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/cooking-spice-pattern-black-white-colors/0811229.jpg');
    background-size: 1500px;
    opacity: 0.05;
    z-index: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.home-button, .cart-button {
    background: white;
    padding: 10px 15px;
    border: solid;
    border-color: #245682;
    border-width: 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    color: #444;
    margin-left: 4px;
    margin-right: 4px;
}

.meal-title {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #245682;
}

.meal-description {
    font-size: 28px;
    color: #4a5568;
    max-width: 1100px;
    margin-bottom: 40px;
}


/* Dropdown Styling */
.meal-dropdown {
    width: 40%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #3498db;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    z-index: 1;
}

.meal-dropdown:hover,
.meal-dropdown:focus {
    border-color: #2980b9;
}

/* Items List */
.items-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

/* Individual Item */
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    font-size: 18px;
}

/* Item Text */
.item-text {
    flex: 1;
    text-align: left;
    font-size: 20px;
    color: #444;
}

/* Selection Icons */
.bold-green { color: green; font-weight: bold; cursor: pointer; font-size: 24px; margin-left: 10px; }
.faded-green { color: rgba(0, 128, 0, 0.3); cursor: pointer; font-size: 24px; margin-left: 10px; }
.bold-red { color: red; font-weight: bold; cursor: pointer; font-size: 24px; margin-left: 10px; }
.faded-red { color: rgba(255, 0, 0, 0.3); cursor: pointer; font-size: 24px; margin-left: 10px; }

.bold-green:hover { transform: scale(1.2); }
.faded-green:hover { transform: scale(1.2); }
.bold-red:hover { transform: scale(1.2); }
.faded-red:hover { transform: scale(1.2); }

.add-order-button {
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
    background-color: #3b82f6;
    background-color: #2563eb;
}

.add-faves-button {
    margin-top: 10px;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
    background-color: #10b981;
    background-color: #059669;
}


/* cart items */
.cart-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    overflow-y: auto;
}

.cart-title {
    flex: 1;
    font-size: 30px;
    color: #444;
}

.cart-meal {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    margin-top: 20px;
    color: #444;
}

.cart-item-text {
    flex: 1;
    text-align: left;
    font-size: 20px;
    color: #444;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-cart-item {
    color: red;
    font-weight: bold;
    cursor: pointer;
}
.remove-cart-item:hover { transform: scale(1.2); }

